# Sepolia Testnet Configuration
SEED_WALLET_PRIVATE_KEY="YOUR_SEED_WALLET_PRIVATE_KEY"
ROOTS_WALLET_PRIVATE_KEY="YOUR_ROOTS_WALLET_PRIVATE_KEY"
FRUIT_WALLET_PRIVATE_KEY="YOUR_FRUIT_WALLET_PRIVATE_KEY"
BRANCHES_WALLET_PRIVATE_KEY="YOUR_BRANCHES_WALLET_PRIVATE_KEY"
ARBITRUM_SEPOLIA_RPC_URL="https://sepolia-rollup.arbitrum.io/rpc"
GOLDSTEM_CONTRACT_ADDRESS="THE_ADDRESS_OF_THE_DEPLOYED_CONTRACT_ON_SEPOLIA"

# Mainnet Configuration
# You will need to provide these values to run the bot on mainnet.
# MAINNET_SEED_WALLET_PRIVATE_KEY="YOUR_MAINNET_SEED_WALLET_PRIVATE_KEY"
# MAINNET_ROOTS_WALLET_PRIVATE_KEY="YOUR_MAINNET_ROOTS_WALLET_PRIVATE_KEY"
# MAINNET_FRUIT_WALLET_PRIVATE_KEY="YOUR_MAINNET_FRUIT_WALLET_PRIVATE_KEY"
# MAINNET_BRANCHES_WALLET_PRIVATE_KEY="YOUR_MAINNET_BRANCHES_WALLET_PRIVATE_KEY"
# ARBITRUM_MAINNET_RPC_URL="https://arb1.arbitrum.io/rpc"
# MAINNET_GOLDSTEM_CONTRACT_ADDRESS="THE_ADDRESS_OF_THE_DEPLOYED_CONTRACT_ON_MAINNET"
